import os, sys

# changes to the installation config file for ubuntu 12.04 builds!

# read package versions from external file
path_where_this_file_lives = os.path.dirname( config_file )
versions_file = os.path.join( path_where_this_file_lives, "release-versions.py" )
base_file = os.path.join( path_where_this_file_lives, "release-base.cfg" )

# get the versions
execfile( versions_file )

# set the changes needed for Ubuntu -- different directories
MySQL_path="/usr"

# execute the base installation
# for some unexplicable reason (at least to me, right now) this doesn't work
# execfile( base_file)

#therefore:
ilcsoft_install_dir = ilcsoft_install_prefix
ilcsoft = ILCSoft( ilcsoft_install_dir )


# global options
ilcsoft.env["MAKEOPTS"]="-j4"
ilcsoft.env["CXX"]="g++"
ilcsoft.env["CC"]="gcc"

# ----- build and install documentation -------------
ilcsoft.envcmake["INSTALL_DOC"]="ON"
ilcsoft.envcmake["CMAKE_BUILD_TYPE"]= "RelWithDebInfo"
ilcsoft.downloadType = "svn"

# need to be pre-installed on your system
if 'MySQL_path' in dir():
    ilcsoft.use( MySQL( MySQL_path ))


ilcsoft.install( ILCUTIL( ILCUTIL_version ))

ilcsoft.install( CondDBMySQL( CondDBMySQL_version ))

ilcsoft.install( CED( CED_version ))
# ---- optionally build the CED event display
# ---- requires GLUT and OpenGL installed on your system
ilcsoft.module("CED").envcmake['CED_SERVER']='ON'

# -- xercesc
ilcsoft.install( XercesC( XercesC_version ))

ilcsoft.install( Geant4( Geant4_version ))
geant4=ilcsoft.module("Geant4")
geant4.envcmake["GEANT4_INSTALL_DATA"]='ON'
geant4.envcmake["GEANT4_USE_SYSTEM_EXPAT"]='OFF' # ignored ??
geant4.envcmake["GEANT4_USE_SYSTEM_CLHEP"]='ON'
geant4.envcmake["GEANT4_USE_OPENGL_X11"]='ON'
geant4.envcmake["GEANT4_USE_QT"]='ON' # requires qt
#geant4.envcmake["QT_QMAKE_EXECUTABLE"]=/path/to/qmake
if 'XERCESC_ROOT_DIR' in dir():
    geant4.envcmake["XERCESC_ROOT_DIR"]=XERCESC_ROOT_DIR
if 'XERCESC_INCLUDE_DIR' in dir() and 'XERCESC_LIBRARY' in dir():
    geant4.envcmake["GEANT4_USE_GDML"]='ON' # requires xerces-c
    geant4.envcmake["XERCESC_INCLUDE_DIR"]=XERCESC_INCLUDE_DIR
    geant4.envcmake["XERCESC_LIBRARY"]=XERCESC_LIBRARY

ilcsoft.install( ROOT( ROOT_version ))
ilcsoft.module("ROOT").download.type="wget"

ilcsoft.install( CLHEP( CLHEP_version ))
ilcsoft.install( GSL( GSL_version ))
ilcsoft.install( QT( QT_version ))

# cmake
ilcsoft.install( CMake( CMake_version ))
