#################################################################
# configuration file to build SimTools
#
# Author: Akiya Miyamoto, KEK
# Date: June, 2009
#################################################################

# install to:
#ilcsoft = ILCSoft("/home/miyamoto/soft/ilcsoft/HEAD/2009-06-22/")
ilcsoft = ILCSoft("/scratch/simtools")

#ilcsoft.logfile="logfile"
#ilcPath="/home/miyamoto/soft/ilcsoft/HEAD/"
ilcPath = "/afs/desy.de/group/it/ilcsoft/"

# compilers + flags
#-----------------------------------------------
ilcsoft.env["CXX"]="g++"
ilcsoft.env["CC"]="gcc"
#ilcsoft.env["FC"]="g77"
#ilcsoft.env["FC"]="gfortran"
#ilcsoft.env["CXXFLAGS"]="-m32"
#ilcsoft.env["CFLAGS"]="-m32"
#ilcsoft.env["FFLAGS"]="-m32"
#-----------------------------------------------


# SimTools Packages
ilcsoft.install( lcbase( "v01-02") )
ilcsoft.install( Leda( "v01-02") )
ilcsoft.install( lclib( "v01-03") )
#ilcsoft.install( jsf( "v01-03") )
ilcsoft.install( jsf( "HEAD") ) # fix for libgfortran
ilcsoft.install( Jupiter( "v01-03-01") )
ilcsoft.install( Uranus( "v01-03") )
ilcsoft.install( Satellites( "v01-03") )
ilcsoft.install( physsim( "v01-03") )


ilcsoft.use( CLHEP( ilcPath + "CLHEP/2.0.3.2" ))
ilcsoft.use( ROOT( ilcPath + "root/5.16.00" ))
ilcsoft.use( Geant4 ( ilcPath + "geant4/9.1" ))
ilcsoft.module( "Geant4" ).env["G4ENV_INIT"] = ilcPath + "geant4/env_9.1.sh"

#ilcsoft.link( CLHEP( "/proj/soft/ext/clhep/2.0.3.2" ))
#ilcsoft.use( ROOT( "/proj/soft/ext/root/5.18.00" ))
#ilcsoft.link( Geant4 ( "/proj/soft/ext/g4/geant4.9.1.p01" ))
#ilcsoft.module( "Geant4" ).env["G4ENV_INIT"] = ilcPath + "/2009-06-22/geant4/geant4.9.1.p01/env.sh"

# end of configuration file

